* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(240,248,255,0.5),rgba(240,248,255,0.5)),url(images/home.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
